@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.app{
  margin:auto;
}

.custbtn:hover{
  color:#dadada !important;
  background-color: #222222 !important;
}

.custbtn.Mui-disabled {
  color: rgb(250 250 250 / 75%) !important;
}
